# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

# markdown cell to list data science languages
1. Pythom
2. R
3. julia

# Some of the commonly used libraries used by Data Scientists include
 ## 1.libraries for the python 
 ### a. pandas
 ### b. Numpy
 ### c. scikit-Learn
 ### d. Tensor flow
 ## 2. python visulisation libraries
 ### a. matplotlib
 ### b. seaborn
 ### c. plotly

# Markdown cell for data Science Tools

  |Data Science Tools|
| ---------------|
|Hadoop |
|Apache-Spark | 
|jupyter |

In [3]:

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [13]:
 # This will convert 200 minutes to hours by diving by 60
x=200/60
print(x)

3.3333333333333335

 **it contains list of Objectives**
 * Data science languages 
 * Data science libraries
 * Data science tools
 * expression

## Author
EKTA GUPTA